
.light-grey { color: #f0f0f0 }
.light-green { color: #c5d5c5 } 
.light-cream { color: #e3e0cc } 
.mild-grey { color: #9fa9a3 } 
.dark { color: #2f446e } 
.blue-black { color: #182338 } 

body {
	background-color: #c5d5c5;
	font-family:Lucida Console;
	color: #182338;
}

#work-experience {
	margin: 0 10 0 10;
}

.row {
	margin: 10 0 0 10;
	overflow: hidden;
	width: 100%;
}

.little {
	float:left;
	height: 150px;
	width: 150px;
	margin: 20px 10px 10px 20px;
	border: 13px solid rgba(255, 255, 255, 0.25);
	border-left-color: #2f446e;
	transform: rotate(45deg);
	border-radius: 50%;
	position: relative;
	text-align: center;
	display: inline-block;
}

.some {
	float:left;
	height: 150px;
	width: 150px;
	margin: 20px 10px 10px 20px;
	border: 13px solid rgba(255, 255, 255, 0.25);
	border-left-color: #2f446e;
	border-bottom-color: #2f446e;
	transform: rotate(45deg);
	border-radius: 50%;
	position: relative;
	text-align: center;

}
.alot {
	float:left;
	height: 150px;
	width: 150px;
	margin: 20px 10px 10px 20px;
	border: 13px solid #2f446e;
	border-top-color: rgba(255, 255, 255, 0.25);
	transform: rotate(45deg);
	border-radius: 50%;
	position: relative;
	text-align: center;
	display: inline-block;
}

.all {
	float:left;
	height: 150px;
	width: 150px;
	margin: 20px 10px 10px 20px;
	border: 13px solid #2f446e ;
	transform: rotate(45deg);
	border-radius: 50%;
	position: relative;
	text-align: center;
	display: inline-block;
}

.text {
	text-align: center;
	vertical-align: middle;
	line-height: 120px;
	font-family:Lucida Console;
	font-style: italic;
	transform: rotate(-45deg);
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #999;
}

.table td { 
	padding: 5px 10px 5px 10px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
	background-color: rgba(255, 255, 255, .15);
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.table th {
	font-weight: normal;
	padding: 10px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
	background-color: rgba(255, 255, 255, .50);
	border-top-width: 1px;
	border-bottom-width: 1px;
	color: black;
}

#info {
	font-size:35px;
	position: relative;
	bottom: 0;
	width: 90%;
	margin: 0 auto;
	padding: 30px 0 5px 0;å
}

.icon {
	height: 75px;
	width: auto;
	margin: 20px 10px 20px 10px;
}

.icon_info {
	padding-top: 33px;
	padding-right: 10px
}

.hover {
background-color: rgba(255, 255, 255, .50);
}

.hover:hover {
    background-color: grey;
}

.proj-det {
	font-style: italic;
}

.proj-but {
	margin: 20px 0 20px 0;
	background-color: #9fa9a3;
	color: #182338;
}

.arrow {
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	color:#e3e0cc;
	background-color:#182338;
}

.left {
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%);
}

.right {
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%)
}

